.navbar-link:hover{
    color: black;
}


.footer-form ::placeholder{
    color: black;
}

.footer-list li .footer-link{
    color: rgb(61, 137, 230);
    font-weight: bold;
}

.footer-list li .footer-link:hover{
    color: black;
}

.upcoming-time .social-link{
    color: black;
    font-weight: bolder;
}

.upcoming-time .social-link:hover{
    color: whitesmoke;
}

.login-container img{
    width: 153px;
    height: 100px;
    margin: auto;
}

.register-container img{
    width: 153px;
    height: 100px;
    margin: auto;
}

/* Games */


main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}

.card {
  width: 24rem;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: color-primary-white;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  margin-right: 50px;

 
  img {
    position: absolute;
    object-fit: cover;
    width: 102%;
    height: 71%;
    top: 40px;
    left: 0;
  }

  h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
  }
  
  p, a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
  }
  
  p {
    inset: auto auto 80px 30px;
  }
  
  a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }
  
  &:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset .3s ease-out;
  }
  
  &:hover p, &:hover a {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }
  
  &:hover img {
    transition: opacity .3s ease-in;
    opacity: 1;
  }

}

.material-symbols-outlined {
  vertical-align: middle;
}

.game_btn{
        background-color: #3498db;
        color: #fff;
        padding: 5px 15px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: auto;
    
}

  
/* footer */

.cp-text{ 
  color: rgba(0,0,0,.7); 
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
  
}